
<li>
    <ul class="subfolder level-1" style="display: none;">
        <li>
            <a href="#" class="listOfFolder">
                <div style="display: flex;align-items: baseline;">
                    <i id="caretChangeTest1" onclick="toggleFolder('subfolder level-2 test1','caretChangeTest1');"
                        class="fa fa-caret-right folder-show"></i>

                    <i class="fas fa-folder-open"></i>
                    <span class="name">Foldere</span>
                </div>
                <div>
                    <span class="amount">10</span>
                </div>

            </a>
            <ul class="subfolder level-2 test1" style="display: none;">
                <li>
                    <a href="#" class="listOfFolder">
                        <div style="display: flex;align-items: baseline;">
                            <i id="caretChangeTest11"
                                onclick="toggleFolder('subfolder level-3 test11','caretChangeTest11');"
                                class="fa fa-caret-right folder-show"></i>

                            <i class="fas fa-folder-open"></i>
                            <span class="name">Foldere</span>
                        </div>
                        <div>
                            <span class="amount">10</span>
                        </div>

                    </a>
                    <ul class="subfolder level-3 test11" style="display: none;">
                        <li>
                            <a href="#">
                                <i class="fa fa-folder"></i>
                                <span class="name">Folder 1</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-folder"></i>
                                <span class="name">Folder 1</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-folder"></i>
                                <span class="name">Folder 1</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-folder"></i>
                                <span class="name">Folder 1</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-folder"></i>
                        <span class="name">Folder 1</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-folder"></i>
                        <span class="name">Folder 1</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-folder"></i>
                        <span class="name">Folder 1</span>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#" class="listOfFolder">
                <div style="display: flex;align-items: baseline;">
                    <i id="caretChangeTest2" onclick="toggleFolder('subfolder level-2 test2','caretChangeTest2');"
                        class="fa fa-caret-right folder-show"></i>

                    <i class="fas fa-folder-open"></i>
                    <span class="name">Foldere</span>
                </div>
                <div>
                    <span class="amount">10</span>
                </div>

            </a>
            <ul class="subfolder level-2 test2" style="display: none;">
                <!-- <li>
                <a href="#" class="listOfFolder"
                    onclick="toggleFolder('subfolder level-1');">
                    <div style="display: flex;align-items: baseline;">
                        <i id="caretChange" class="fa fa-caret-right folder-show"></i>

                        <i class="fas fa-folder-open"></i>
                        <span class="name">Foldere</span>
                    </div>
                    <div>
                        <span class="amount">10</span>
                    </div>

                </a>

            </li> -->
                <li>
                    <a href="#">
                        <i class="fa fa-folder"></i>
                        <span class="name">Folder 1</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-folder"></i>
                        <span class="name">Folder 1</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-folder"></i>
                        <span class="name">Folder 1</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-folder"></i>
                        <span class="name">Folder 1</span>
                    </a>
                </li>
            </ul>
        </li>
        <!-- <li>
        <a href="#">
            <i class="fa fa-folder"></i>
            <span class="name">Folder 1</span>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="fa fa-folder"></i>
            <span class="name">Folder 1</span>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="fa fa-folder"></i>
            <span class="name">Folder 1</span>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="fa fa-folder"></i>
            <span class="name">Folder 1</span>
        </a>
    </li> -->
    </ul>
</li>